db.sqlite3
__pycache__
*.pyc
*.pyo
*.pyd
__pycache__/
venv/
env/
*.env
*.venv
.vscode/
.idea/
*.swp
*.swo
db.sqlite3
*.sqlite3
**/migrations/*.pyc
**/migrations/*.py
/static/
media/
coverage.xml
htmlcov/
*.cover
*.log
nosetests.xml
test_results/
*.dockerfile
docker-compose.override.yml
node_modules/
npm-debug.log
yarn.lock
package-lock.json
*.log
*.out
*.pid
*.seed
*.bak
*.pem
*.crt
*.key
.env
dakhl/settings.py
